.spectator-game {
  width: calc(var(--spectator-tile-size) * (4 + 1 + 10 + 1 + 4));
  margin: auto;
  display: grid;
  grid-template-columns: 48px 120px;
  grid-template-rows: 40px 240px;
  grid-gap: 12px 12px;
  grid-template-areas:
    "h h"
    "n b";
}

.Game-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Tetris Grid Board */

.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  align-self: flex-start;
}

/* Grid Square */

.grid-square {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
}

/* Spectator Grid Board */

.spectator-grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--spectator-tile-size));
  grid-gap: 0;
  align-self: flex-start;
  grid-area: b;
}

/* Grid Square */

.spectator-grid-square {
  border-style: solid;
  width: var(--spectator-tile-size);
  height: var(--spectator-tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
}

/* Next Block Grid */

.next-block {
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-start;
  grid-area: n;
}

/* Spectator Next Block Grid */

.spectator-next-block {
  display: grid;
  grid-template-columns: repeat(4, var(--spectator-tile-size));
  align-self: flex-start;
  grid-area: n;
}

/* Spectator Name and score */

.spectator-game p {
  grid-area: h;
  text-align: center;
}

/* Score Board */

.score-board {
  grid-area: s;
}

.score-board-button {
  background-color: aliceblue;
  display: block;
  padding: 1em;
  border-width: 5px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

/* Controls */

.controls {
  display: grid;
  grid-template-areas: ". u ." "l d r";
}

.left-button {
  grid-area: l;
}

.right-button {
  grid-area: r;
}
.up-button {
  grid-area: u;
}
.down-button {
  grid-area: d;
}

.control-button {
  background-color: aliceblue;
  width: calc(var(--tile-size) * 2.5);
  height: calc(var(--tile-size) * 2.5);
  text-align: center;
  display: block;
  border-width: 5px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

.control-button:active {
  transform: translateY(2px);
}
/* Popup */
.message-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(clamp(20px, var(--tile-size), 30px) * 14);
  height: calc(clamp(20px, var(--tile-size), 30px) * 7);
  background-color: rgba(219, 114, 114, 0.853);
  padding: 0.4rem;
  text-align: center;
}

.message-popup.hidden {
  display: none;
}

.pause {
  background-color: rgba(110, 105, 105, 0.853);
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
